## Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2
b()
b()
b()
a

6

### Explanation

#### The variable 'a' was initialized with a value of 0.

#### A function named 'b' was defined.

#### The global variable 'a' was used inside the function 'b', instead of creating a new local variable with the same name.

##### The function 'c' was called with the current value of 'a' as an argument, and the result of the function call was assigned to the variable 'a'.

##### A function 'c' was defined that took one argument 'a' and returned the value of 'a' plus 2.

##### Execution:
##### The function 'b' was called. The value of 'a' was currently 0, so calling the function 'c' with 'a' returned 2. The global variable 'a' was then updated to 2.

##### The function 'b' was called again. The value of 'a' was now 2, so calling the function 'c' with 'a' returned 4. The global variable 'a' was then updated to 4.

##### The function 'b' was called again. The value of 'a' was now 4, so calling the function 'c' with 'a' returned 6. The global variable 'a' was then updated to 6.

##### The current value of the variable 'a', which was 6, was displayed.

## Question 2

In [2]:
def fileLength(file_name):
    try:
        f = open(file_name)
        contents = f.read()
        f.close()
        print(len(contents))
    except FileNotFoundError:
         return "File " + file_name + " not found."
fileLength('Filelength.txt')
fileLength('FilelengthNOTFOUND.txt')

122

'File FilelengthNOTFOUND.txt not found.'

## Question 3

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')


k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [4]:
def collatz(j):
    print(j)
    if j == 1:
        return
    elif j % 2 == 0:
        collatz(j // 2)
    else:
        collatz(3 * j + 1)

In [5]:
collatz(1)

1

In [6]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [7]:
def binary(j):
    if j > 1:
        binary(j//2)
    print(j % 2, end='')

In [8]:
binary(0)

0

In [9]:
binary(1)

1

In [10]:
binary(3)

11

In [11]:
binary(9)

1001

## Question 6

In [12]:
from html.parser import HTMLParser
class LinkParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        'print value of href attribute if any'
        if tag.startswith('h'):
            print(tag)
            
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
linkparser = LinkParser() 

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_level = None
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            try:
                self.heading_level = int(tag[1])
            except ValueError:
                return

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.heading_level = None

    def handle_data(self, data):
        if self.heading_level is not None:
            if len(self.headings) < self.heading_level:
                self.headings.extend([''] * (self.heading_level - len(self.headings)))
            self.headings[self.heading_level - 1] += data.strip()

    def print_headings(self):
        for i, heading in enumerate(self.headings):
            print(' ' * i, heading)
    
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
hp.print_headings()

 W3C Mission
  Principles

## Question 7

In [15]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])

def webdir(url, depth, indent):
    if depth < 0:
        return

    print(' ' * indent + url)

    try:
        response = urlopen(url)
    except:
        return

    parser = LinkParser()
    parser.feed(response.read().decode())

    for link in parser.links:
        absolute_url = urljoin(url, link)
        webdir(absolute_url, depth - 1, indent + 1)

In [16]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

## Question 8

In [21]:
import sqlite3

# connect to database
conn = sqlite3.connect('climate.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('''CREATE TABLE meteorology
            (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
             )''')

# insert data into table 
weather_data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO meteorology VALUES (?, ?, ?, ?, ?)', weather_data)

# commit changes and close connection
conn.commit()
conn.close()

In [22]:
import sqlite3

# connect to database
conn = sqlite3.connect('climate.db')

# create cursor object
c = conn.cursor()

#### a) All the temperature data

In [23]:
c.execute('SELECT Temperature FROM meteorology')
temperature_data = c.fetchall()
print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

#### b) All the cities, but without repetition

In [24]:
c.execute('SELECT DISTINCT City FROM meteorology')
cities = c.fetchall()
print(cities)

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India

In [25]:
c.execute("SELECT * FROM meteorology WHERE Country = 'India'")
india_records = c.fetchall()
print(india_records)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d) All the Fall records

In [26]:
c.execute("SELECT * FROM meteorology WHERE Season = 'Fall'")
fall_records = c.fetchall()
print(fall_records)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [27]:
c.execute("SELECT City, Country, Season FROM meteorology WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainfall_records = c.fetchall()
print(rainfall_records)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [28]:
c.execute("SELECT City, Country FROM meteorology WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = c.fetchall()
print(fall_temp_records)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### g) The total annual rainfall for Cairo.

In [29]:
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM meteorology WHERE City = 'Cairo'")
cairo_rainfall = c.fetchone()[0]
print(cairo_rainfall)

27.6

#### h) The total rainfall for each season

In [30]:
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM meteorology GROUP BY Season")
season_rainfall = c.fetchall()
print(season_rainfall)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [31]:
conn.close()

## Question9

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

#### a

In [33]:
new_words = [word.upper() for word in words]
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b

In [34]:
new_words = [word.lower() for word in words]
print(new_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c

In [35]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d

In [36]:
new_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(new_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e

In [37]:
new_words = [word for word in words if len(word) >= 4]
print(new_words)

['quick', 'brown', 'jumps', 'over', 'lazy']